# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
bun.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build artifacts
dist/
build/
.vite/ # If you are using Vite
.parcel-cache/ # If you are using Parcel

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.iml

# Environment variables
.env
.env.local
.env.*.local

# Thumbnails
.thumbnails/

# Local development server files
*.dev.js
*.dev.css

# Bun specific
bun.lockb
